<%-include('../headers/form-header');-%>
<img src="" width="80px" height="80px" alt=""/>
  <h1 class="text-center">Sign In</h1>
  <div class="form-group">
    <form action="" class="form" method="post">


      <div class="input-group-field">
        <label for="" class="form-label ">Email</label>
        <input type="text" name="email"  attr-name="Email"  class="form-input control email">
      </div>

      <div class="input-group-field rel ">
        <span class='toggle-password js-toggle-password abs pointer'>Show</span>
        <label for="" class="form-label ">Password</label>
        <input type="password" name="password"  attr-name="Password" class="form-input control password">
      </div>
      <div class="mt-30">
        <button type="submit"  class="form-input control form-btn--rounded form-input--rounded--cinnabar rel ">Sign In</button>
      </div>

      <div class="rel line-behind mt-30 mb-30">
        <p class="abs line-behind--front">Already have an account?</p>
      </div>

      <div class="mt-30">
        <a href="/account/signup" class="form-input control form-input--rounded in-blk text-center">Sign In</a>
      </div>

    </form>
  </div>
</body>
<%# <script src="script.js"></script> %>
</html>
