<section class="banner-carousel">
  <div class="banner-carousel__group">
    <section class="banner-carousel__img">
      <img class="img-responsive" src="/images/rasta/banner.jpg" alt="">
    </section>
    <section class=" pt-30 pb-30 banner-carousel__text text-center">
      <h1 class=" ">Lorem Ipsum Dolar Sit</h1>
      <p class="">
        Lorem ipsum dolor sit amet, soluta facete impetus
        ea duo. Mel fabellas perpetua an, in propriae .
      </p>

      <div class="banner-carousel__circle img-circle in-blk">
        <div class="banner-carousel__square control flex justify-content-center align-items-center">
          <img class="banner-carousel__arrow" src="/images/svg/right-arrow.svg" alt="">
        </div>
      </div>
    </section>
  </div>
  <div class="banner-carousel__group">
    <section class="banner-carousel__img">
      <img class="img-responsive" src="/images/rasta/banner.jpg" alt="">
    </section>
    <section class=" pt-30 pb-30 banner-carousel__text text-center">
      <h1 class=" ">Lorem Ipsum Dolar Sit</h1>
      <p class="">
        Lorem ipsum dolor sit amet, soluta facete impetus
        ea duo. Mel fabellas perpetua an, in propriae .
      </p>

      <div class="banner-carousel__circle img-circle in-blk">
        <div class="banner-carousel__square control flex justify-content-center align-items-center">
          <img class="banner-carousel__arrow" src="/images/svg/right-arrow.svg" alt="">
        </div>
      </div>
    </section>
  </div>
  <div class="banner-carousel__group">
      <section class="banner-carousel__img">
        <img class="img-responsive" src="/images/rasta/banner.jpg" alt="">
      </section>
      <section class=" pt-30 pb-30 banner-carousel__text text-center">
        <h1 class=" ">Lorem Ipsum Dolar Sit</h1>
        <p class="">
          Lorem ipsum dolor sit amet, soluta facete impetus
          ea duo. Mel fabellas perpetua an, in propriae .
        </p>

        <div class="banner-carousel__circle img-circle in-blk">
          <div class="banner-carousel__square control flex justify-content-center align-items-center">
            <img class="banner-carousel__arrow" src="/images/svg/right-arrow.svg" alt="">
          </div>
        </div>
      </section>
  </div>
</section>
