
<section class="categories">
  <section class="mt-25 categories-block">
    <div class="">
      <img  class="img-responsive" src="/images/rasta/cat1.png" alt="">
    </div>
    <div class="text-center">
      <p class=" mt-15 categories__text ">
        Lorem ipsum dolor sit amet,
         consectetur adipisicing elit.
          Laboriosam, officiis!
      </p>
      <a href="#" class="categories__link" >SHOP ALL</a>
    </div>

  </section>

  <section class="mt-25 categories-block">
    <div class="">
      <img  class="img-responsive" src="/images/rasta/cat1.png" alt="">
    </div>
    <div class="text-center">
      <p class=" mt-15 categories__text ">
        Lorem ipsum dolor sit amet,
         consectetur adipisicing elit.
          Laboriosam, officiis!
      </p>
      <a href="#" class="categories__link" >SHOP ALL</a>
    </div>

  </section>

  <section class="mt-25 categories-block">
    <div class="">
      <img  class="img-responsive" src="/images/rasta/cat2.png" alt="">
    </div>
    <div class="text-center">
      <p class=" mt-15 categories__text ">
        Lorem ipsum dolor sit amet,
         consectetur adipisicing elit.
          Laboriosam, officiis!
      </p>
      <a href="#" class="categories__link" >SHOP ALL</a>
    </div>

  </section>
</section>
