<div class="page-banner-cont">
  <div class="page-banner-text-cont">
    <h1 class="page-banner-head">
      Professionals shampoo & conditioner
    </h1>

    <p class="page-banner-desc">
      No matter your hair type, Suave has
      the perfect product for you –– without
      the salon shampoo price tag.
      To find your formula, take the hair quiz.
    </p>
  </div>
  <div class="page-banner-img-cont">
    <img src="/images/rasta/hair.jpg"  class="page-banner-img" alt="">
  </div>

</div>
