</head>
<body>
  <header class=" mb-15 header flex justify-content-between">
    <li class="pointer js-header--img__humburger"><img src="/images/svg/hamburger-menu.svg" alt=""/ class="header-img__humburger"></li>
    <li class="pointer"><a href="/"><img src="/images/svg/logo.svg" alt="" class="header-img__logo"></a></li>
    <li class="pointer rel">
      <a href="/basket"><img src="/images/svg/basket.svg" alt="" class="header-img__basket"></a>
      <div class="basket__circle abs img-circle">
        <div class="basket__square text-white control flex justify-content-center align-items-center">
          <span class="basket__count">0</span>
        </div>
      </div>
    </li>

    <div class="search mt-15">
      <form action="search__form" class=" search__form ">
        <input type="text" class="search__input control pointer" placeholder="Search Items">
      </form>
    </div>
  </header>
