
<div class="text-center ">
  <p class="intro-head mt-30 in-blk">YOU MAY LIKE</p>
</div>
<section class="item-grid">
  <div class="item-grid__cont">
    <div class="item-grid__img-cont">
      <img class="item-grid__img img-responsive" src="/images/rasta/item1.jpg" alt="">


    </div>
    <div class="item-grid__details">
      <h2 class="item-grid__title">Lorem ipsum dolor sit amet, consectetur adipisicing</h2>
      <p class="item-grid__orginal">&#8373;65.00</p>
      <p class="item-grid__price">&#8373;55.00</p>

    </div>

  </div>

  <div class="item-grid__cont">
    <div class="item-grid__img-cont">
      <img class="item-grid__img img-responsive" src="/images/rasta/item2.jpg" alt="">


    </div>
    <div class="item-grid__details">
      <h2 class="item-grid__title">Lorem ipsum dolor sit amet, consectetur adipisicing</h2>
      <p class="item-grid__orginal">&#8373;65.00</p>
      <p class="item-grid__price">&#8373;55.00</p>

    </div>

  </div>


  <div class="item-grid__cont">
    <div class="item-grid__img-cont">
      <img class="item-grid__img img-responsive" src="/images/rasta/item3.jpg" alt="">


    </div>
    <div class="item-grid__details">
      <h2 class="item-grid__title">Lorem ipsum dolor sit amet, consectetur adipisicing</h2>
      <p class="item-grid__orginal">&#8373;65.00</p>
      <p class="item-grid__price">&#8373;55.00</p>

    </div>

  </div>


  <div class="item-grid__cont">
    <div class="item-grid__img-cont">
      <img class="item-grid__img img-responsive" src="/images/rasta/item4.jpg" alt="">


    </div>
    <div class="item-grid__details">
      <h2 class="item-grid__title">Lorem ipsum dolor sit amet, consectetur adipisicing</h2>
      <p class="item-grid__orginal">&#8373;65.00</p>
      <p class="item-grid__price">&#8373;55.00</p>

    </div>

  </div>



  <div class="item-grid__cont">
    <div class="item-grid__img-cont">
      <img class="item-grid__img img-responsive" src="/images/rasta/item5.jpg" alt="">


    </div>
    <div class="item-grid__details">
      <h2 class="item-grid__title">Lorem ipsum dolor sit amet, consectetur adipisicing</h2>
      <p class="item-grid__orginal">&#8373;65.00</p>
      <p class="item-grid__price">&#8373;55.00</p>

    </div>

  </div>


  <div class="item-grid__cont">
    <div class="item-grid__img-cont">
      <img class="item-grid__img img-responsive" src="/images/rasta/item3.jpg" alt="">


    </div>
    <div class="item-grid__details">
      <h2 class="item-grid__title">Lorem ipsum dolor sit amet, consectetur adipisicing</h2>
      <p class="item-grid__orginal">&#8373;65.00</p>
      <p class="item-grid__price">&#8373;55.00</p>

    </div>

  </div>

</section>
