

<div class="sort-container">
  <div class="filter">

  </div>
</div>
<div class="text-center ">
  <p class="intro-head mt-30 in-blk">YOU MAY LIKE</p>
</div>
<section class="item-container">
 <div class="item-grid-cont">
   <div class="item-grid">

     <a href="#" class="item-grid-img-cont">
       <img src="/images/rasta/item1.png"  alt="" class="item-grid-img">
     </a>
     <div class="item-grid-details">
       <h2 class="item-grid-title">
         disney star wars bb-8 Galactic fresh  3-in-1 shampoo,
         conditioner,body wash
       </h2>
       <p class='item-grid-price'>&#8373;50.00</p>
     </div>


   </div>
 </div>


 <div class="item-grid-cont">
   <div class="item-grid">

     <a href="#" class="item-grid-img-cont">
       <img src="/images/rasta/item2.png"  alt="" class="item-grid-img">
     </a>
     <div class="item-grid-details">
       <h2 class="item-grid-title">
         disney star wars bb-8 Galactic fresh
       </h2>
       <p class='item-grid-price'>&#8373;50.00</p>
     </div>


   </div>
 </div>


 <div class="item-grid-cont">
   <div class="item-grid">

     <a href="#" class="item-grid-img-cont">
       <img src="/images/rasta/item1.png"  alt="" class="item-grid-img">
     </a>
     <div class="item-grid-details">
       <h2 class="item-grid-title">
         disney star wars bb-8 Galactic fresh  3-in-1 shampoo,
         conditioner,body wash
       </h2>
       <p class='item-grid-price'>&#8373;50.00</p>
     </div>


   </div>
 </div>


 <div class="item-grid-cont">
   <div class="item-grid">

     <a href="#" class="item-grid-img-cont">
       <img src="/images/rasta/item4.jpg"  alt="" class="item-grid-img">
     </a>
     <div class="item-grid-details">
       <h2 class="item-grid-title">
         disney star wars bb-8 Galactic fresh  3-in-1 shampoo,
         conditioner,body wash
       </h2>
       <p class='item-grid-price'>&#8373;50.00</p>
     </div>


   </div>
 </div>

 <div class="item-grid-cont">
   <div class="item-grid">

     <a href="#" class="item-grid-img-cont">
       <img src="/images/rasta/item5.png"  alt="" class="item-grid-img">
     </a>
     <div class="item-grid-details">
       <h2 class="item-grid-title">
        3D Reusable Magnetic False Eyelashes
       </h2>
       <p class='item-grid-price'>&#8373;50.00</p>
     </div>


   </div>
 </div>







</section>
