

<div class="sort-container">
  <div class="filter">

  </div>
</div>
<div class="text-center ">
  <p class="intro-head mt-30 in-blk">YOU MAY LIKE</p>
</div>
<section class="item-container">

  <%items.forEach((item)=>{%>

 <div class="item-grid-cont">
   <div class="item-grid">

     <a href="#" class="item-grid-img-cont">
    
       <%if(item.images.length > 0){%>
         <img src="/images/rasta/image-loader.gif" data-src="https://s3.eu-west-2.amazonaws.com/glammycare/<%=item.images[0].image%>" alt="" class=" lazy item-grid-img">
       <%}else{%>
         <img src="/images/rasta/no-image.png" alt="" class="item-grid__img w-100">
        <%}%>
     </a>
     <div class="item-grid-details">
       <h2 class="item-grid-title">
         <%=item.name%>
       </h2>
       <p class='item-grid-price'><%=item.price%></p>
     </div>


   </div>
 </div>

 <%});%>



</section>
