
<div class="navbar__overlay js-navbar__overlay">
  <section class="navbar bg-white js-navbar">
    <div class="navbar__group">
      <div class="text-center">
        <p class="navbar__head in-blk">CATEGORIES</p>
      </div>
      <ul class="">
        <li class="navbar__list"><a class="navbar__link" href="/makeup"><img class="navbar__img" src="/images/svg/makeup.svg" alt=""><span class="navbar__text">Makeup</span></a></li>
        <li class="navbar__list"><a class="navbar__link" href="/bath-and-body"><img class="navbar__img" src="/images/svg/bath.svg" alt=""><span class="navbar__text">Bath & Body</span></a></li>
        <li class="navbar__list"><a class="navbar__link" href="/men"><img class="navbar__img" src="/images/svg/men.svg" alt=""><span class="navbar__text">Men</span></a></li>
      </ul>
    </div>


    <div class="navbar__group">
      <div class="text-center">
        <p class="navbar__head in-blk">MY ACCOUNT</p>
      </div>
      <ul class="">
        <li class="navbar__list"><a class="navbar__link" href="/account/signin"><img class="navbar__img" src="/images/svg/signin.svg" alt=""><span class="navbar__text">Sign In</span></a></li>
        <li class="navbar__list"><a class="navbar__link" href="/account/signup?returnUrl="<%=returnUrl%>><img class="navbar__img" src="/images/svg/add-user.svg" alt=""><span class="navbar__text">Create Account</span></a></li>
        <li class="navbar__list"><a class="navbar__link" href="/basket#favourites"><img class="navbar__img" src="/images/svg/favourite.svg" alt=""><span class="navbar__text">My Favourites</span></a></li>
      </ul>
    </div>


    <div class="navbar__group">
      <div class="text-center">
        <p class="navbar__head in-blk">CONTACT</p>
      </div>


      <ul class="">
        <li class="navbar__list"><a class="navbar__link" href="#"><img class="navbar__img" src="/images/svg/email.svg" alt=""><span class="navbar__text">Send Us An Email</span></a></li>
        <li class="navbar__list"><a class="navbar__link" href="#"><img class="navbar__img" src="/images/svg/phone.svg" alt=""><span class="navbar__text">020808924758</span></a></li>

      </ul>
    </div>
  </section>
</div>
