/*inclues but not limited to the following
 *Clearfix
 *colors
 *display
 *embed
 *flex
 *float
 *position
 *shadows
 *sizing
 *spacing
*text transform
*vertical align
*visibility
*/
.flex {
  display: flex;
  flex-wrap: wrap; }

.flex-col {
  flex-wrap: wrap;
  flex-direction: column; }

.justify-content-center {
  justify-content: center; }

.justify-content-between {
  justify-content: space-between; }

.align-items-center {
  align-items: center; }

.align-items-flex-end {
  align-items: flex-end; }

.abs {
  position: absolute; }

.rel {
  position: relative; }

.bold {
  font-weight: bold; }

.mr-5 {
  margin-right: 5px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-25 {
  margin-top: 25px; }

.mt-30 {
  margin-top: 30px; }

.ml-15 {
  margin-left: 15px; }

.ml-20 {
  margin-left: 20px; }

.ml-25 {
  margin-left: 25px; }

.ml-30 {
  margin-left: 30px; }

.mr-15 {
  margin-right: 15px; }

.mr-20 {
  margin-right: 20px; }

.mr-25 {
  margin-right: 25px; }

.mr-30 {
  margin-right: 30px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-25 {
  margin-bottom: 25px; }

.mb-30 {
  margin-bottom: 30px; }

.m-auto {
  margin: auto; }

.p-15 {
  padding: 15px; }

.p-20 {
  padding: 20px; }

.p-25 {
  padding: 25px; }

.p-30 {
  padding: 30px; }

.pt-15 {
  padding-top: 15px; }

.pt-20 {
  padding-top: 20px; }

.pt-25 {
  padding-top: 25px; }

.pt-30 {
  padding-top: 30px; }

.pr-15 {
  padding-right: 15px; }

.pr-20 {
  padding-right: 20px; }

.pr-25 {
  padding-right: 25px; }

.pr-30 {
  padding-right: 30px; }

.pl-15 {
  padding-left: 15px; }

.pl-20 {
  padding-left: 20px; }

.pl-25 {
  padding-left: 25px; }

.pl-30 {
  padding-right: 30px; }

.pb-15 {
  padding-bottom: 15px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-25 {
  padding-bottom: 25px; }

.pb-30 {
  padding-bottom: 30px; }

.blk {
  display: block; }

.in-blk {
  display: inline-block; }

.inline {
  display: inline; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.bg-white {
  background-color: white; }

.bg-transparent {
  background-color: transparent; }

.no-outline {
  outline: 0; }
  .no-outline:focus {
    outline: 0; }

.control {
  width: 100%; }

.img-responsive {
  width: 100%; }

.img-circle {
  border-radius: 50%; }

.pointer {
  cursor: pointer; }

.text-white {
  color: white; }

.text-black {
  color: black; }

.hide-content {
  overflow: hidden; }

.h-100 {
  height: 100%; }

.w-100 {
  width: 100%; }

body {
  font-family: "Pt sans", Helvetica, Arial, Sans-serif;
  overflow-x: hidden; }

li {
  list-style-type: none; }

*:focus {
  outline: 0; }

a:hover {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

select {
  padding: 10px 5px;
  border: 0;
  border-bottom: 3px solid #bababa;
  width: 105px;
  -webkit-appearance: none;
  background: url("../images/svg/down-arrow.svg") no-repeat 100%;
  background-size: 15px; }

.header {
  padding: 15px 15px 25px 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
  @media (min-width: 1010px) {
    .header {
      margin-left: 260px; } }

.header-img__humburger {
  width: 30px; }

.header-img__logo {
  width: 30px; }

.header-img__basket {
  width: 30px; }

.search {
  flex: 1 100%; }
  @media (min-width: 1010px) {
    .search {
      flex: initial;
      margin: 0; } }

.search__img {
  width: 20px;
  left: 10px;
  top: 8px; }

.search__form {
  flex: 1 100%; }
  @media (min-width: 1010px) {
    .search__form {
      width: 300px; } }

.search__input {
  padding-left: 33px;
  padding-right: 20px;
  color: #847979;
  caret-color: #847979;
  background: url("../images/svg/search.svg") 9px 8px no-repeat;
  background-size: 20px 20px;
  border: 1px solid #CECECE;
  border-radius: 27px;
  height: 36px; }

.basket__circle {
  width: 25px;
  height: 25px;
  top: -6px;
  left: 13px;
  background-color: #E84234; }

.basket__square {
  height: 100%; }

@media (min-width: 1010px) {
  .js-header--img__humburger {
    display: none; } }

@media (min-width: 1010px) {
  .banner-carousel {
    margin-left: 260px; } }

.banner-carousel__circle {
  width: 50px;
  height: 50px;
  background-color: coral; }

.banner-carousel__square {
  height: 100%; }

.banner-carousel__arrow {
  width: 30px;
  height: 24px; }

.banner-carousel__text {
  background-color: #E84234;
  color: fff; }

@media (min-width: 750px) {
  .banner-carousel__text-head {
    font-weight: 400;
    font-size: 1.4em; } }

@media (min-width: 740px) {
  .banner-carousel__group {
    display: flex !important;
    max-height: 400px; } }

.banner-carousel__group, .banner-carousel__group:hover {
  display: block;
  color: white; }

.navbar__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(97, 73, 73, 0.63);
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  transform: translateX(-100%); }
  @media (min-width: 1010px) {
    .navbar__overlay {
      transition: 0s;
      width: 260px;
      top: 0;
      left: 0;
      transform: translateX(0); } }

.navbar__img {
  width: 30px; }

.navbar {
  width: 260px;
  height: 100%;
  padding: 0 25px;
  overflow-y: auto; }

.navbar__head {
  font-size: 1.4em;
  padding-bottom: 5px;
  border-bottom: 3px solid #E84234; }

.navbar__group {
  padding: 30px 0;
  border-bottom: 1px solid #CECECE; }
  .navbar__group:last-of-type {
    border-bottom: none; }

.navbar__img {
  margin-right: 10px;
  width: 22px;
  height: 22px; }

.navbar__text {
  color: #000; }

.navbar__link {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px; }

.navbar__text {
  font-size: 1.2em; }

@media (min-width: 1010px) {
  body {
    overflow-y: auto; } }

.navbar__overlay--isvisible {
  transform: translateX(0) !important; }

@media (min-width: 740px) {
  .categories {
    display: flex;
    justify-content: space-between; } }
@media (min-width: 1010px) {
  .categories {
    margin-left: 290px; } }

.categories-block {
  flex-grow: 1;
  padding: 15px; }

.categories__text {
  font-size: 1em; }

.categories__link {
  font-weight: 700;
  color: #EF426C;
  background: url("../images/svg/right-angled-arrow.svg") 100% no-repeat;
  display: inline-block;
  width: 95px;
  background-position: 100% 6px;
  background-size: 11px 12px; }
  .categories__link:hover {
    color: #EF426C; }

.item-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px; }
  @media (min-width: 556px) {
    .item-container {
      padding: 30px; } }
  @media (min-width: 1010px) {
    .item-container {
      margin-left: 270px; } }

.item-grid-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 50%;
  max-width: 50%;
  padding: 10px; }
  @media (min-width: 856px) {
    .item-grid-cont {
      flex: 33.3333%;
      max-width: 33.3333%; } }

.item-grid {
  padding-top: 20px;
  background-color: #f6f6f6; }
  @media (min-width: 673px) {
    .item-grid {
      max-width: 253px;
      width: 253px; } }

.item-grid-img-cont {
  display: block;
  margin: auto;
  height: 160px;
  max-width: 160px;
  max-height: 160px;
  margin-bottom: 20px; }
  @media (min-width: 406px) {
    .item-grid-img-cont {
      height: 168.5px;
      width: 168.5px;
      max-width: 168.5px;
      max-height: 168.5px; } }
  @media (min-width: 452px) {
    .item-grid-img-cont {
      height: 180px;
      width: 180px;
      max-width: 180px;
      max-height: 180px; } }
  @media (min-width: 673px) {
    .item-grid-img-cont {
      max-height: 253px;
      max-width: 253px;
      width: 253px;
      height: 253px; } }

.item-grid-img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%; }

.item-grid-details {
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1;
  height: 187px;
  max-height: 187px; }
  @media (min-width: 406px) {
    .item-grid-details {
      height: 172px;
      max-height: 172px; } }
  @media (min-width: 452px) {
    .item-grid-details {
      height: 157px;
      max-height: 157px; } }
  @media (min-width: 556px) {
    .item-grid-details {
      height: 142px;
      max-height: 142px; } }
  @media (min-width: 673px) {
    .item-grid-details {
      max-height: 169px;
      height: 169px; } }

.item-grid-title {
  font-size: .8rem;
  text-transform: capitalize; }
  @media (min-width: 406px) {
    .item-grid-title {
      font-size: .9rem; } }
  @media (min-width: 452px) {
    .item-grid-title {
      font-size: .9rem; } }
  @media (min-width: 556px) {
    .item-grid-title {
      font-size: .9rem; } }
  @media (min-width: 673px) {
    .item-grid-title {
      font-size: 1rem;
      line-height: 22px; } }

.form-group {
  padding: 15px;
  width: 100%;
  margin: auto; }
  @media (min-width: 460px) {
    .form-group {
      width: 366px;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
      padding: 30px 20px 50px 20px; } }

.form-label {
  display: block;
  margin: 0;
  padding: 0; }

.form-input {
  border: 1px solid #D4CFCF;
  border-radius: 4px;
  font-size: 1em;
  padding: 5px;
  outline: 0; }
  .form-input:focus, .form-input:hover {
    border: 1px solid #03a9f4;
    cursor: pointer; }

.form-input--rounded, .form-btn--rounded {
  background-color: transparent;
  border-radius: 25px;
  padding: 10px; }
  .form-input--rounded:hover, .form-btn--rounded:hover {
    border-color: initial; }

.form-btn--rounded {
  border: 0;
  outline: 0; }
  .form-btn--rounded:focus {
    outline: 0; }

.form-input--rounded--cinnabar {
  background-color: #E84234;
  color: white;
  border-color: none; }

.input-group-field {
  margin-top: 10px; }

.form-error {
  color: red;
  font-weight: bold;
  display: flex;
  align-items: center; }

.border-red {
  border: 2px solid red !important; }

.page-banner-cont {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #fdf3ef; }
  @media (min-width: 1010px) {
    .page-banner-cont {
      flex-wrap: nowrap;
      margin-left: 280px; } }

.page-banner-img-cont {
  width: 100%;
  max-width: 100%;
  flex: 1 100%; }
  @media (min-width: 1010px) {
    .page-banner-img-cont {
      flex: 1 auto; } }

.page-banner-img {
  width: 100%;
  max-width: 100%; }
  @media (min-width: 1010px) {
    .page-banner-img {
      height: 100%;
      max-height: 100%; } }

.page-banner-text-cont {
  order: 1;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 30px; }
  @media (min-width: 590px) {
    .page-banner-text-cont {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1010px) {
    .page-banner-text-cont {
      width: 550px;
      max-width: 550px;
      order: -2; } }

.page-banner-head {
  font-size: 2.2rem; }
  @media (min-width: 590px) {
    .page-banner-head {
      font-size: 2.6rem;
      margin-bottom: 20px; } }
  @media (min-width: 730px) {
    .page-banner-head {
      font-size: 2.8rem; } }
  @media (min-width: 770px) {
    .page-banner-head {
      font-size: 3rem; } }
  @media (min-width: 881px) {
    .page-banner-head {
      font-size: 3.2rem; } }

.page-banner-desc {
  font-size: 1.1rem; }

.item-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
  margin-top: 40px; }
  @media (min-width: 1010px) {
    .item-container {
      margin-left: 280px; } }

.item-list-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 50%;
  max-width: 50%;
  padding: 10px; }
  @media (min-width: 600px) {
    .item-list-cont {
      flex: 1 100%;
      max-width: 100%;
      padding: 20px; } }
  @media (min-width: 820px) {
    .item-list-cont {
      padding: 0;
      margin-bottom: 30px;
      width: 810px;
      max-width: 810px; } }

.item-list {
  padding-top: 20px;
  background-color: #f6f6f6; }
  @media (min-width: 600px) {
    .item-list {
      height: 240px;
      width: 100%;
      max-width: 100%;
      max-height: 240px;
      display: flex;
      padding: 0; } }
  @media (min-width: 820px) {
    .item-list {
      height: 245px;
      max-height: 245px; } }

.item-list-img-cont {
  display: block;
  margin: auto;
  height: 160px;
  max-width: 160px;
  max-height: 160px;
  margin-bottom: 20px; }
  @media (min-width: 406px) {
    .item-list-img-cont {
      height: 168.5px;
      width: 168.5px;
      max-width: 168.5px;
      max-height: 168.5px; } }
  @media (min-width: 452px) {
    .item-list-img-cont {
      height: 180px;
      width: 180px;
      max-width: 180px;
      max-height: 180px; } }
  @media (min-width: 600px) {
    .item-list-img-cont {
      width: 100px;
      max-width: 100px;
      height: inherit;
      max-height: inherit;
      display: flex; } }
  @media (min-width: 730px) {
    .item-list-img-cont {
      display: block;
      width: 180px;
      height: 180px;
      max-width: 180px;
      max-height: 180px; } }
  @media (min-width: 820px) {
    .item-list-img-cont {
      width: 245px;
      max-width: 245px;
      height: 245px;
      max-height: 245px; } }

.item-list-img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%; }
  @media (min-width: 600px) {
    .item-list-img {
      max-width: 100px;
      max-height: 100px;
      height: 100px;
      width: 100px; } }
  @media (min-width: 730px) {
    .item-list-img {
      width: 180px;
      max-width: 180px;
      height: 180px;
      max-height: 180px; } }
  @media (min-width: 820px) {
    .item-list-img {
      width: 220px;
      max-width: 220px;
      height: 220px;
      max-height: 220px; } }

.item-list-details {
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1;
  height: 187px;
  max-height: 187px; }
  @media (min-width: 406px) {
    .item-list-details {
      height: 172px;
      max-height: 172px; } }
  @media (min-width: 452px) {
    .item-list-details {
      height: 157px;
      max-height: 157px; } }
  @media (min-width: 600px) {
    .item-list-details {
      height: inherit;
      max-height: inherit;
      text-align: left; } }

.item-list-desc {
  display: none; }
  @media (min-width: 600px) {
    .item-list-desc {
      display: block; } }

@media (min-width: 600px) {
  .item-list-price {
    padding: 0;
    font-weight: bold;
    font-size: 1.2rem; } }

.item-list-title {
  font-size: .8rem;
  text-transform: capitalize; }
  @media (min-width: 406px) {
    .item-list-title {
      font-size: .9rem; } }
  @media (min-width: 452px) {
    .item-list-title {
      font-size: .9rem; } }
  @media (min-width: 600px) {
    .item-list-title {
      font-size: 1.5rem; } }
  .item-list-title a {
    color: inherit; }

.intro-head {
  font-size: 1.2em;
  padding-bottom: 5px;
  border-bottom: 3px solid #000; }

.toggle-password {
  top: 29px;
  right: 10px;
  text-decoration: underline;
  display: none;
  z-index: 14; }

.line-behind {
  border: 1px solid #000;
  display: flex;
  justify-content: center; }

.line-behind--front {
  background-color: #fff;
  top: -11px;
  padding: 0 20px; }

.ripple {
  overflow: hidden; }

.ripple::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  z-index: 40;
  opacity: 0;
  margin-left: -25px; }

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1; }
  20% {
    transform: scale(15, 15);
    opacity: 1; }
  100% {
    opacity: 1;
    transform: scale(40, 40); } }
.ripple:focus:not(:active)::after {
  animation: ripple 1s ease-in-out both; }

@media (min-width: 1010px) {
  .basket-container {
    margin-left: 260px; } }

.item-view__title {
  font-size: 20px;
  text-align: center; }

.item-view__price {
  font-size: 18px; }

.item-view__add-btn {
  border: 0;
  font-size: 13px;
  height: 32.4px;
  line-height: 32.4px;
  border-radius: 5px;
  letter-spacing: .5px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  background: url(../images/svg/basket-white.svg) #E84234 no-repeat 95% 40%;
  padding-right: 34px;
  background-size: 19px;
  outline: 0; }
  .item-view__add-btn:hover {
    outline: 0; }

.item-view_fav-btn-cont {
  padding: 20px 15px;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #CECECE;
  margin-top: 47px; }

.item-view_fav-btn {
  padding-left: 41px;
  border: none;
  background: url("../images/svg/favourite-black.svg") 10%/20px no-repeat; }

.item-view-detail p {
  padding-left: 12px; }
@media (min-width: 1010px) {
  .item-view-detail p {
    padding-left: 24px; } }

.item-view-detail__head {
  font-size: 19px;
  padding-left: 12px;
  color: #000; }

.how_to_use ul {
  padding-left: 26px; }
  .how_to_use ul li {
    list-style-type: lower-latin; }

.how_to_use .item-view-detail__head, .ingredients .item-view-detail__head {
  margin-bottom: 1px; }

@media (min-width: 1010px) {
  .item-group {
    display: flex;
    justify-content: space-between; } }

@media (min-width: 1010px) {
  .item-p-s-add-btn {
    padding: 53px 70px; }
    .item-p-s-add-btn .qty-add-btn {
      justify-content: flex-start; }
    .item-p-s-add-btn .qty-select {
      flex: 1 100%;
      margin-bottom: 41px; } }

.footer {
  background-color: #eee;
  margin-top: 54px; }

.footer-icon__circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  margin-right: 15px;
  background-color: #E84234; }
  .footer-icon__circle svg {
    width: 20px;
    height: 20px; }

.footer-icon__square {
  display: flex;
  justify-content: center;
  align-items: center; }

/*# sourceMappingURL=style.css.map */
