<footer class="footer pt-30 pb-30  text-center">
  <p>&copy;2018 GlammyCare.</p>
  <section class="footer-icon flex justify-content-center align-items-center">
    <div class="footer-icon__circle">
      <div class="w-100 h-100 footer-icon__square footer-icon__facebook  ">
        <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14.335 15.36">
          <defs>
            <style>
              .cls-1 {
                fill: none;
              }

              .cls-2 {
                clip-path: url(#clip-path);
              }
              .cls-3:hover {
                fill: brown;
              }
            </style>
            <clipPath id="clip-path">
              <rect id="Rectangle_717" data-name="Rectangle 717" class="cls-1" width="14.336" height="15.36"/>
            </clipPath>
          </defs>
          <g id="Mask_Group_7" data-name="Mask Group 7" class="cls-2" transform="translate(0 0)">
            <g id="facebook" transform="translate(3.584 0)">
              <path id="Facebook-2" data-name="Facebook" class="cls-3" fill="#fff" d="M9.549,2.975V5.089H8V7.675H9.549V15.36h3.183V7.676h2.136s.2-1.24.3-2.6H12.744V3.312a.751.751,0,0,1,.69-.62h1.734V0H12.81C9.471,0,9.549,2.588,9.549,2.975Z" transform="translate(-8 0)"/>
            </g>
          </g>
        </svg>
      </div>
    </div>





    <div class="footer-icon__circle">
      <div class="w-100 h-100 footer-icon__square footer-icon__facebook  ">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14.335 15.36">
          <defs>
            <style>
              .cls-1 {
                fill: none;
              }

              .cls-2 {
                clip-path: url(#clip-path);
              }

              .cls-3 {
                fill: #fff;
              }
            </style>
            <clipPath id="clip-path">
              <rect id="Rectangle_718" data-name="Rectangle 718" class="cls-1" width="14.336" height="15.36"/>
            </clipPath>
          </defs>
          <g id="Mask_Group_8" data-name="Mask Group 8" class="cls-2" transform="translate(0 0)">
            <g id="instagram" transform="translate(0 0.512)">
              <path id="Path_264" data-name="Path 264" class="cls-3" d="M10.379,0H3.956A3.961,3.961,0,0,0,0,3.956v6.423a3.961,3.961,0,0,0,3.956,3.956h6.423a3.961,3.961,0,0,0,3.956-3.956V3.956A3.961,3.961,0,0,0,10.379,0Zm2.684,10.379a2.687,2.687,0,0,1-2.684,2.684H3.956a2.687,2.687,0,0,1-2.684-2.684V3.956A2.687,2.687,0,0,1,3.956,1.272h6.423a2.687,2.687,0,0,1,2.684,2.684v6.423Z"/>
              <path id="Path_265" data-name="Path 265" class="cls-3" d="M10.479,6.785a3.694,3.694,0,1,0,3.694,3.694A3.7,3.7,0,0,0,10.479,6.785Zm0,6.116A2.422,2.422,0,1,1,12.9,10.479,2.425,2.425,0,0,1,10.479,12.9Z" transform="translate(-3.311 -3.311)"/>
              <path id="Path_266" data-name="Path 266" class="cls-3" d="M20.628,4.679a.932.932,0,1,0,.66.273A.936.936,0,0,0,20.628,4.679Z" transform="translate(-9.612 -2.283)"/>
            </g>
          </g>
        </svg>

      </div>
    </div>


    <div class="footer-icon__circle">
      <div class="w-100 h-100 footer-icon__square footer-icon__facebook  ">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14.335 15.36">
          <defs>
            <style>
              .cls-1 {
                fill: none;
              }

              .cls-2 {
                clip-path: url(#clip-path);
              }

              .cls-3 {
                fill: #fff;
              }
            </style>
            <clipPath id="clip-path">
              <rect id="Rectangle_719" data-name="Rectangle 719" class="cls-1" width="14.336" height="15.36"/>
            </clipPath>
          </defs>
          <g id="Mask_Group_9" data-name="Mask Group 9" class="cls-2" transform="translate(0 0)">
            <g id="twitter" transform="translate(0 1.856)">
              <g id="Group_69" data-name="Group 69" transform="translate(0 0)">
                <path id="Path_267" data-name="Path 267" class="cls-3" d="M14.336,4a6.127,6.127,0,0,1-1.693.464,2.922,2.922,0,0,0,1.293-1.624,5.873,5.873,0,0,1-1.864.711,2.939,2.939,0,0,0-5.084,2.01,3.026,3.026,0,0,0,.068.67A8.319,8.319,0,0,1,1,3.161a2.94,2.94,0,0,0,.9,3.928A2.9,2.9,0,0,1,.573,6.727v.032A2.952,2.952,0,0,0,2.928,9.647a2.933,2.933,0,0,1-.771.1,2.6,2.6,0,0,1-.556-.05,2.967,2.967,0,0,0,2.746,2.047A5.905,5.905,0,0,1,.7,12.994a5.5,5.5,0,0,1-.7-.04,8.274,8.274,0,0,0,4.509,1.319A8.307,8.307,0,0,0,12.873,5.91c0-.13,0-.255-.011-.38A5.863,5.863,0,0,0,14.336,4Z" transform="translate(0 -2.625)"/>
              </g>
            </g>
          </g>
        </svg>


      </div>
    </div>
  </section>
</footer>
